*.iml
.gradle
/local.properties
/.idea
.DS_Store
/cmake-build-debug
.vscode/launch.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-88011a69d8cfbbe242cd.json
build/.cmake/api/v1/reply/codemodel-v2-4ff96fa7a9e849b2e6a4.json
build/.cmake/api/v1/reply/index-2020-07-24T14-07-13-0235.json
build/.cmake/api/v1/reply/target-OpenglLearning-Debug-41009ea41660c1c49729.json
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/OpenglLearning.dir/build.make
build/CMakeFiles/OpenglLearning.dir/cmake_clean.cmake
build/CMakeFiles/OpenglLearning.dir/depend.make
build/CMakeFiles/OpenglLearning.dir/DependInfo.cmake
build/CMakeFiles/OpenglLearning.dir/flags.make
build/CMakeFiles/OpenglLearning.dir/link.txt
build/CMakeFiles/OpenglLearning.dir/progress.make
